* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: lightgray;
}
a:hover {
  text-decoration: none;
}
.custom-image {
  width: 40%;
  border-radius: 50%;
}
.nav-link {
  color: black;
}
.bg-primary {
  background-color: rgb(5, 32, 53) !important;
}
.jumbotron-bg {
  background: url("../markus-spiske-hvSr_CVecVI-unsplash.jpg") no-repeat fixed;
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.jumbotron {
  min-height: 80vh;
  background-size: cover;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
}

.text-container {
  overflow: hidden;
}

#animated-text {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 3s ease, transform 3s ease;
}

.hover-button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hover-button:hover {
  background-color: rgb(5, 32, 53);
  transform: scale(1.05);
}

.additional-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(5, 32, 53, 0.9);
  color: white;
  padding-top: 15%;
  text-align: center;
}

.card:hover .additional-info {
  display: block;
}

.badge {
  overflow: hidden;
}
.badge:hover {
  animation: rotateAnimation 0.3s linear infinite;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.hover-effect-html:hover {
  color: rgb(255, 89, 0);
}
.hover-effect-css:hover {
  color: rgba(0, 98, 255, 0.915);
}
.hover-effect-js:hover {
  color: rgb(255, 247, 0);
}
.hover-effect-bs:hover {
  color: rgba(177, 86, 189, 0.847);
}
.hover-effect-react:hover {
  color: rgba(0, 225, 255, 0.915);
}
.hover-effect-sql:hover {
  color: rgb(19, 111, 139);
}
.badge img {
  border-radius: 50%;
  width: 80px;
  height: auto;
}
